@import url("https://fonts.googleapis.com/css?family=Raleway+Dots|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Slab:100,300,400,700&display=swap");

// font-family: 'Raleway', sans-serif;
// font-family: 'Raleway Dots', cursive;
// font-family: 'Roboto Slab', serif;

// Fonts
$raleway: "Raleway", sans-serif;
$raleway-d: "Raleway Dots", cursive;
$roboto: "Roboto Slab", serif;
$primary-color: #00dbbf;

// text style
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-30: 30px;
$fs-36: 36px;
$fs-45: 40px;
$fs-50: 50px;
$fs-60: 60px;
$fs-70: 70px;
$fs-100: 100px;

// responsive container
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

// universal design
a {
  text-decoration: none;
  font-family: $raleway;
}

p {
  font-family: $roboto;
  font-weight: 300;
  color: #434343;
  letter-spacing: 1.5px;
  font-size: 14px;
}

ul {
  list-style: none;
}
